#supervisor{
  background-color: rgba(103, 160, 103, 0.643)
}
#student {
  background-color:  rgba(103, 113, 160, 0.643);
}
#mentor {
  background-color:  rgba(117, 211, 226, 0.643);
}
/* section {
  display: flex;
  justify-content: space-around;
} */