#supervisor{
  background-color: rgba(103, 160, 103, 0.643)
}
#former{
  background-color:  rgba(103, 113, 160, 0.643);
}
.card {
  width: 50em
}
section {
  display: flex;
  justify-content: space-around;
}