h1, h2 {
  text-align:right;
  width: 25vw;
  font-family: 'Carattere', cursive;
  font-weight: bolder;
  font-size: 70px;
  letter-spacing: .25rem;
}
/* header {
  background-image: linear-gradient(to top right, var(--gradOne), var(--gradTwo));
  padding: 2em 0
} */
.container {
  display: flex;
  flex-direction: column;
}
.nav-link {
  margin: 2em
}